:root {
    --primary-color: #029FAE;
    --primary-dark: #007580;

    --white: #ffffff;

    --body-font-color: #272343;
    --body-font-color-hover: #007580;
    --body-font-color-light: #9A9CAA;
    --body-font-color-reverse: #ffffff;

    --input-background: #ffffff;
    --input-color: #9A9CAA;

    --btn-buy: #F0F2F3;
    --btn-buy-hover: #029FAE;
    
    --btn-default: #029FAE;
    --btn-default-text: #ffffff;

    --header: #F0F2F3;
     --footer: #ffffff;
}